aws_region   = "us-east-1"
state_bucket = "fiap-hackathon-tfstate-834287106879-us-east-1"
image_tag    = "<commit-sha>"

postgres_password = "trocar"
jwt_secret        = "trocar-por-um-segredo-grande"
internal_api_key  = "trocar"
s3_access_key     = "trocar"
s3_secret_key     = "trocar"
mail_host         = "smtp.gmail.com"
mail_port         = 587
notification_email_from = "seu-email@gmail.com"
mail_username     = "seu-email@gmail.com"
mail_password     = "senha-de-aplicativo"
